* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    --bg : #0B131E;
    --bg-light: #202B3B;
    --text-color: white;
    --anti-text-color: black;
    min-height: auto;
}
html, body {
    height: auto;
    overflow-y: auto;
}
body{
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--text-color);
    align-content: center;
    position: relative;
    padding-top: 60px;
}
.popup{
    position: fixed;
    background-color: var(--text-color);
    color: var(--anti-text-color);
    width: auto;
    margin: 0 auto;
    padding: 0px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    align-items: center;
    gap: 30px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    height: 0px;
    overflow: hidden;
    transition: 150ms ease-in-out;
}
.popup-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.popup-content h3{
    margin: 0px;
    padding: 0px;
    /* font-size: 14px; */
    display: inline;

}
.popup-content p{
    /* font-size: 10px; */
    color: var(--anti-text-color);
    display: inline;
}
.nav-bar{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    /* margin-right: 5px; */
    background-color: var(--bg-light);
    border-radius: 10px;
}
.nav-bar h1{
    display: inline;
}
@media (min-width: 800px){
    .spacer{
        display: none;
    }
    .menu{
        display: none;
    }
    .categories{
        display: flex;
        flex-direction: row;
    }
    .categories a{
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        /*height: 30px;*/
        text-decoration: none;
        color: var(--text-color);
    }

    .categories a:hover{
        background-color: #007BFF;
        /* text-decoration: underline; */
        transition: 150ms ease-in-out;
        border-radius: 10px;
        color: white;
    }
}
@media (max-width: 800px) {
    .categories{
        display: none;
    }
    .menu{
        margin-left: 10%;
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-light);
        border-radius: 10px;
        overflow: hidden;
        /* border: 3px solid #202B3B; */
        height: 0px;
        z-index: 1;
        position: absolute;
        
        /* transition: height 2s ease-in-out; */
    }
    .menu a{
        width: 100%;
        height: 40px;
        text-decoration: none;
        padding: 10px;
        border-bottom: 1px solid var(--anti-text-color);
        color:var(--text-color);
        text-align: center;
        align-content: center;
        margin: auto 0px;
    }
    .menu a:hover{
        background-color: var(--bg);
        transition: 150ms ease-in-out;
    }
    .spacer{
        display: block;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .spacer:hover{
        background-color: #007BFF;
        transition: 150ms ease-in-out;
        border-radius: 10px;
    }
}
.main-content{
    padding: 20px;
    display: block;
    width: calc(100%-40px);
    margin-top: 80px;
    /* min-height: 200vh; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex: 1; */
    /* justify-content: center; */
    /* position:fixed; */
    /* z-index: 0; */
}
.main-content h2{
    text-align: center;
    margin: 10vh;

}
.login{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    margin: 0px auto;
    width: calc(60% - 40px);
    min-width: 300px;
    background-color: var(--bg-light);
    border-radius: 20px;
    padding: 20px;
}
.login h1{
    text-align: center;
}
.login .bar{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--bg);
    padding-left: 15px;
    background-color: var(--bg);
    color: white;
    margin: 0px auto;
}
.login .bar:active, .login .bar:focus{
    outline: none;
    border: 2px solid var(--bg-light);
    background-color: var(--bg-light);
    box-shadow: 0px 0px 10px hsl(215.56deg 29.67% 70%);
}

.login label{
    margin-left: 10%;
    font-weight: bold;
}

.login .login-btn{
    width: 50%;
    max-width: 300px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 2px solid #007BFF;
    background-color: white;
    color: #007BFF;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    margin: 0px auto;
}
.login .login-btn:hover{
    background-color: #007BFF;
    color: white;
    transition: 150ms ease-in-out;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.city-input{
    /*display: flex;*/
    justify-content: center;
    margin: 10vh 0px;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--bg);
    padding-left: 15px;
    background-color: var(--bg-light);
    color: white;
}
.city-input:active, .city-input:focus{
    outline: none;
    border: 2px solid var(--bg-light);
    background-color: var(--bg);
    box-shadow: 0px 0px 10px hsl(215.56deg 29.67% 70%);
}

.get-weather-btn{
    margin-left: 10px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 2px solid #007BFF;
    background-color: white;
    color: #007BFF;
    font-weight: bold;
    cursor: pointer;
}
.get-weather-btn:hover{
    background-color: #007BFF;
    color: white;
    transition: 150ms ease-in-out;
}
.location-info{
    min-height: 250px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--bg-light);
    border-radius: 20px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 2px 2px 2px hsl(215.56deg 29.67% 30%);
}
.location-name{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.location-name h2, .location-name p{
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    display: inline;
    color: #c4c4c4
}
.current-temperature{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.current-weather{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-weather img{
    width: 100px;
    height: 100px;
}

.current-temperature h1{
    display: inline-table;
}
.current-temperature button{
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    background-color: white;
    color: #007BFF;
    font-weight: bold;
    cursor: pointer;
}
.current-temperature button:hover{
    background-color: #007BFF;
    color: white;
    transition: 150ms ease-in-out;
}

.air-quality{
    min-height: 300px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-items: center; */
    /* justify-content: space-between; */
    border: 2px solid var(--bg-light);
    border-radius: 20px;
    background-color:var(--bg-light);
    padding: 10px 20px;
    margin: 20px auto;
}
.air-quality h1{
    text-align: left;
    padding: opx;
    margin: 0px;
    font-size: inherit;
}

.air-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 20px; */
    margin-top: 5px;
}

.air-quality-card{
    width: calc(50% - 40px);
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 10px; */
    /* padding: 10px 10px; */
    /* margin: 10px 0px; */
    border-bottom: 1px solid hsl(215.56deg 29.67% 27%);
}
.forecast-info, .weekly-forecast-cards{
    min-height:300px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    /* justify-content: space-between; */
    border: 2px solid var(--bg-light);
    border-radius: 20px;
    background-color:var(--bg-light);
    padding: 10px 20px;
    margin: 20px auto;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.forecast-info::-webkit-scrollbar, .weekly-forecast-cards::-webkit-scrollbar{
    display: none;
}
.forecast-card, .weekly-forecast-card{
    min-width:100px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0px 5px;
    border: 1px solid hsl(215.56deg 29.67% 27%);
    cursor: pointer;
}
.forecast-card:hover, .weekly-forecast-card:hover{
    background-color: var(--bg);
    transform: scale(0.95);
    transition: 150ms ease-in-out;
}
.forecast-card h5, .forecast-card p{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.weekly-forecast-card h5, .weekly-forecast-card p{
    text-align: center;
    margin: 5px;
    /* padding: 5px; */
}
.weekly-forecast-cards{
    min-height: 350px;
}
.weekly-forecast-card{
    min-height: 300px;
    width: calc(14.28% - 10px);
}
.back-to-top{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #007BFF;
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    /* color: #007BFF; */
}
.back-to-top a{
    color: #007BFF;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    padding: 10px 0px;
    border-radius: 25px;
    /* vertical-align: middle; */
    /* justify-self: center; */
}
.back-to-top:hover , .back-to-top a:hover{
    background-color: #007BFF;
    color: white;
    transition: 150ms ease-in-out;
}

.history{
    width: calc(100% - 40px);
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid var(--bg-light);
    border-radius: 20px;
    background-color:var(--bg);
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.history-card{
    width: calc(50% - 40px);
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #007BFF;
    background-color: var(--bg-light);
    color: #c4c4c4;
    cursor: pointer;
}

.history-card:hover{
    background-color: var(--bg);
    /* transform: scale(0.95); */
    transition: 150ms ease-in-out;
}
.history-card:active{
    transform: scale(0.95);
}
#btn{
    width: calc(100% - 40px);
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.clear-history-btn{
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid #FF4136;
    background-color: white;
    color: #FF4136;
    font-weight: bold;
    cursor: pointer;
}
.clear-history-btn:hover{
    background-color: #FF4136;
    color: white;
    transition: 150ms ease-in-out;
}
.about-section{
    width: calc(100% - 40px);
    margin: 20px 0px;
    padding: 20px;
    border-top: 4px solid var(--bg-light);
    
    /* background-color:#202B3B; */
}
.footer{
    width: calc(100% - 40px);
    margin: 10px 0px;
    padding: 20px;
    border-top: 4px solid var(--bg-light);
    /* text-align: center; */
    color: #c4c4c4;
    /* background-color:#202B3B; */
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}
.links a{
    text-decoration: none;
    color: white;
    width: calc(30%);
    text-align: center;
    border: 2px solid var(--bg-light);
    border-radius: 10px;
    height: 40px;
    padding: 10px;
}
.links a:hover{
    background-color: var(--bg-light);
    transition: 150ms ease-in-out;
    border-radius: 10px;
}
.media{

}
.media a{
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 24px;
    display: inline-block;
}